@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&f[]=montserrat@500,1,900,700,701,801,200,401,301,400,601,100,101,2,201,800,300,600,501&display=swap"); 

.register {
    background: linear-gradient(90deg, #FE34B9, #FF26B9, #D434FE, #903AFF);
    color: #fff;
    border-radius: 10px;
    /* border-image-slice: 1; */
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }
  .register:hover {
    border: 2px double transparent;
    color: #fff;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, #FE34B9, #FF26B9, #D434FE, #903AFF);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  .bg-img{
    background-image: url(images/Purple-Lens.png);
    background-blend-mode: hard-light;
    
  }
  .title{
    font-family: 'Clash Display', sans-serif; 
    @apply font-bold text-[#D434FE] lg:leading-10 pb-3  text-xl md:text-3xl 
  }
  .dark-bg {
    background: linear-gradient(157.28deg, #6713bb -4.15%, #5c364f 35.01%, #554d09 60.78%);
}
  .semi-title{
  font-family: 'Clash Display', sans-serif; 
  @apply font-semibold text-[#D434FE] lg:leading-10 pb-3
  }
  .colo{
    @apply grid lg:grid-cols-2 gap-10 items-center justify-center
  }
  .flex-colo{
    @apply flex flex-col justify-center items-center
  }